:root {
  --cellSize: 2rem;
  --clr-text: rgb(251, 252, 255);
  --clr-background: rgb(10, 9, 8);
  --clr-board-background: rgb(103, 196, 129);
  --clr-board-cells: rgb(63, 120, 79);
  --boardSpacing: 0.3rem;
}
