@import "reset";
@import "vars";
@import "defaults";
@import "game";

main {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex: 1 1 100%;
  }
}
.rules {
  overflow: hidden;
  &__title {
    cursor: pointer;
    width: max-content;
    margin: 0 auto;
    position: absolute;
    top: 0;
  }
  &__content {
    padding-inline: 1rem;
    max-height: 0px;
    transition: max-height 0.5s ease-in-out;
    transition-delay: 0;
    p {
      padding-block: 0.3rem;
    }
    &.active {
      max-height: 1000px;
    }
  }
}
.cheatInspector {
  .prevSelector {
    display: flex;
    justify-content: space-between;
    &__controls {
      display: flex;
      gap: 0.5rem;
      span {
        border: 1px solid white;
        height: 1.5rem;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--clr-background);
        &:hover {
          filter: invert(1);
        }
      }
    }
  }
  .prev {
    --boardSpacing: 3px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: var(--boardSpacing);
    padding: var(--boardSpacing);
    .cell {
      --cellSize: 20px;
      width: var(--cellSize);
      height: var(--cellSize);
      background-color: var(--clr-board-cells);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      & > span {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        pointer-events: none;
        background-color: yellow;
      }
      &.legal::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        border-radius: 100%;
        border: 2px solid var(--clr-board-background);
      }
    }
  }
}
